.header {
  width: 100%;
  height: 8%;
  border: 1px solid blue;
  box-sizing: border-box;
}

.active {
  color: aquamarine;
}

.scroll-x {
  width: 100%;
  height: 70rpx;
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid black;
}

.content {
  width: 100%;
  height: 92%;
  border: 1px solid red;
  box-sizing: border-box;
}

.bookItem {
  position: relative;
  display: inline-block;
  width: 33%;
  padding: 15rpx;
  margin-bottom: 15rpx;
  box-sizing: border-box;
}


.bookItemImg,
.noCover {
  display: block;
  width: 210rpx;
  height: 280rpx;
  border-radius: 5rpx;
  border: 1px solid #efefef;
  box-shadow: 3px 5px 5px #888;
}

.empty {
  position: absolute;
  top: 5rpx;
  left: 5rpx;
  color: white;
  font-size: 22rpx;
  background-color: red;
}


.noCover {
  text-align: center;
  line-height: 280rpx;
}


.bookItemName {
  display: block;
  width: 100%;
  margin-top: 15rpx;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
